 body {
  background-image: url("../New Dir/B.jpg");
  background-repeat: no-repeat;
  background-position:right center;
  background-size: 900px 850px; 
}

 input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

 p {
  font-family: "Times New Roman", Times, serif;
}
a:hover {
  color: hotpink;
}